* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container {
    padding: 24px 28px;
    width: 320px;
}

.form-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
}

input{
    padding: 8px 10px;
}

.form-check {
    margin-bottom: 15px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: blue;
    color: white;
    font-size: 15px;
}