* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    display: block;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100wh;
    height: 100vh;
}

.content {
    width: 500px;
}

.description {
    display: block;
}

.house-image {
    display: inline;
}
